@import "_global.scss";

body {
	font: normal #{$fontSize}/#{$lineHeight} $sansSerif;
	color: #333;
	background: #F5F5F5;
}

$theme: #2971D5;

@import "modules/_import.scss";

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	font-weight: normal;
}
h1 {
	font-size: $fontSize * 4;
	margin: 0 0 $spacing * .5;
	color: darken($theme, 20);

	strong { color: $theme; }
}
h2 {
	font-size: $fontSize * 1.5;
	margin: 0;
}
h3 {
	position: relative;
	z-index: 1;
	text-shadow: 0 -1px 0 #FFF;
	font: italic normal #{$fontSize * 2}/1.2 $serif;
	margin-bottom: $spacing;

	span {
		display: inline-block;
		padding: $spacing;
		padding-left: 0;
		background: #F5F5F5;
	}

	&:before {
		position: absolute;
		z-index: -1;
		top: 50%; left: 0; right: 0;
		border-top: 1px dashed #AAA;
		border-bottom: 1px dashed #FFF;
		content: "";
	}
}

pre {
	background: #272822;
	color: #F8F8F2;
	padding: $spacing;
	font-size: $fontSize * .8;
	margin-bottom: $spacing;

	.cmt  { color: #75715E; }
	.rsv  { color: #F92672; }
	.var  { color: #FD971F; }
	.fn   { color: #66D9EF; }
	.str  { color: #E6DB74; }
	.attr { color: #A6E22E; }
}

.container {
	width: 980px;
	margin: 0 auto;
}

.masthead {
	background: #F5F5F5;
	padding: $spacing * 5 0;
}
.logo {
	font-size: $fontSize * 4.5;
	position: relative;
	top: $spacing * .3;
	margin: 0 -3px;
}

.block {
	margin-bottom: $spacing * 3;
}

label { display: inline-block; width: 200px; }
input { border: 1px solid #CCC; background: #FFF; padding: 5px; margin-bottom: 10px; }

.button-group {
	margin-bottom: $spacing;
}

.button {
	border-radius: 4px;
	color: #FFF;
	padding: $spacing * .5 $spacing;
	text-decoration: none;
	border: 1px solid rgba(0,0,0,.05);
	text-shadow: -1px -1px 0 rgba(0,0,0,.6);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
	display: inline-block;
	
	@include linear-gradient( (top, rgba(255,255,255,.3), rgba(255,255,255,0)) );

	&:hover,
	&:focus {
		@include linear-gradient( (top, rgba(0,0,0,.1), rgba(0,0,0,0)) );
	}
}
	.button-primary {
		@extend .button;
		background-color: #2971D5;
	}

	.button-secondary {
		@extend .button;
		text-shadow: -1px -1px 0 rgba(255,255,255,.6);
		background-color: #DDD;
		color: #666;
	}

@media only screen and (max-width: 980px) {
	.container { width: 95%; }
	.button { margin-bottom: $spacing; }
}