//
// Linear Gradient
//
// @param  $list    [default: (top, #F5F5F5, #FFF)]
//
@mixin linear-gradient ($list: (top, #F5F5F5, #FFF)) {
    // which prefix to append to the property
    $webkit : true;
    $moz    : true;
    $ms     : true;
    $o      : true;
    $spec   : true;

    // set property prefix
    @include prop-prefix(background-image, linear-gradient, $list, $webkit, $moz, $ms, $o, $spec);
}

//
// Radial Gradient
//
// @param  $type        [default: ellipse]            Type of radial gradient
// @param  $position    [default: center]             Gradient position
// @param  $list        [default: (#FFF, #F5F5F5)]
//
@mixin radial-gradient ($list: (#FFF, #F5F5F5), $type: ellipse, $position: center) {
    // which prefix to append to the property
    $webkit : true;
    $moz    : true;
    $ms     : true;
    $o      : true;
    $spec   : false;

    // set property prefix
    @include prop-prefix(background-image, radial-gradient, ($position, $type, $list), $webkit, $moz, $ms, $o, $spec);
    // specs have a different implementation
    background-image: radial-gradient($type at $position, $list);
}